<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">和下面的区别是什么？-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:include="../static/common/headbar :: headbar"></div>
    <!--th:fragment 布局标签，定义一个代码片段，方便其它地方引用-->
    <div th:fragment="homepage">
        <nav class="nav nav-tabs" style="margin-top: 50px; background-color: #eeeeee">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/library/admin/homepage">图书管理</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/library/admin/books">添加图书</a> </li>
                        <li><a href="/library/admin/reservation">管理预约</a> </li>
                        <li><a href="/library/admin/borrow">查看借阅情况</a> </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" style="color: black">
                            <span th:text="${user.userName} + ',欢迎您'" class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/library/login">
                            <span class="glyphicon glyphicon-log-in">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <a href="/library/admin/books">
        <div class="squarel">
            <div class="no-logo">添加图书</div>
        </div>
    </a>

    <a href="/library/admin/borrow">
        <div class="squarel">
            <div class="no-logo">管理预约</div>
        </div>
    </a>

    <a href="/library/admin/borrow">
        <div class="squarel">
            <div class="no-logo">查看借阅情况</div>
        </div>
    </a>

    <a href="#">
        <div class="squarel">
            <div class="no-logo">更多功能</div>
        </div>
    </a>

</body>
</html>